<html>
	<head>
		<title>Call Me Maybe?</title>
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootswatch/2.3.2/cosmo/bootstrap.min.css">
	</head>	
	<body>
		<div class="container">
			<div class="navbar navbar-top">
				<div class="navbar-inner">
					<div class="container">
						<a class='brand' href="../">Call Me Maybe</a>
						<div class="nav-collapse collapse">
							<ul class="nav">
								<li>
									<a href="./chat">Call</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="jumbotron subhead">
				<div class="row">
					<div class="span6">
						<h1>Call Me Maybe?</h1>
						<p class="lead"> Skype Killer App </p>
					</div>
				</div>
				<div class="row">
					<div class="span">
					<a class='btn btn-primary' href="./chat">Call</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>