<html>
	<head>
		<title>Call Me Maybe?</title>
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootswatch/2.3.2/cosmo/bootstrap.min.css">
		<script type="text/javascript" src="https://static.vline.com/vline.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script type="text/javascript" src="vline-client.js"></script>


	</head>	
	<body>
		<div class="container">
			<div class="navbar navbar-top">
				<div class="navbar-inner">
					<div class="container">
						<a class='brand' href="../">Call Me Maybe</a>
						<div class="nav-collapse collapse">
							<ul class="nav">
								<li>
									<a href="./chat">Call</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		
			<div class="row">
				<div class="span">
					<button id='login' class="btn btn-success">Login</button>
				</div>
				<div class="span">
					<button id='call' class="btn btn-warning">Call</button>
					<input id ='useridbox' type="text" placeholder="serviceId:userId">
				</div>
			</div>
		
			<div class="row">
				<div class="span">
					<div id="video-wrapper">


					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript">
		var vlineState;
		$(document).ready(function(){
			$('#login').click(function(){
				vlineState = new vlineShell('skypekiller');
				$(this).removeClass('btn btn-success').addClass('btn btn-danger');
				$(this).text('Logout');
			});
			
			$('#call').click(function(){
				// if ($('#login').attr('class') == 'btn btn-danger'){
					console.log('yolo');
					userID = $('#useridbox').val();
					// vlineState.start(userID);
					vlineState.session_.startMedia(userID);
				// };
			});
		});
		</script>

	</body>
</html>